[Unit]
Description=Etherpad
After=syslog.target
After=network.target
After=postgresql.service

[Service]
Type=simple
User=etherpad
Group=etherpad
WorkingDirectory=/opt/etherpad-lite-1.8.3
ExecStart=/opt/etherpad-lite-1.8.3/bin/fastRun.sh
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
