---

- name: Stop applications
  ansible.builtin.systemd:
    name: '{{ service_name }}'
    state: stopped
  loop:
  - 'ethercalc.service'
  - 'redis-server'
  loop_control:
    loop_var: service_name
  ignore_errors: true
  register: ignore_errors_register

- name: Restore files from pcloud redis-server
  ansible.builtin.include_role:
    name: pcloud_restore_file
  vars:
    pcloud_restore_file_foldername: '/data'
    pcloud_restore_file_filename: 'redis-last.rdb'

- name: Restore data to redis database
  ansible.builtin.shell: mv /data/redis-last.rdb /var/lib/redis/dump.rdb

- name: Remove old archive redis-server
  ansible.builtin.file:
    path: '/data/redis-last.rdb'
    state: 'absent'

- name: Restart applications
  ansible.builtin.systemd:
    name: '{{ service_name }}'
    state: started
  loop:
  - 'redis-server'
  - 'ethercalc.service'
  loop_control:
    loop_var: service_name
