---

- name: Stop applications
  systemd:
    name: '{{ service_name }}'
    state: stopped
  loop:
  - 'ethercalc.service'
  - 'redis-server'
  loop_control:
    loop_var: service_name
  ignore_errors: True

- name: Restore files from pcloud redis-server
  include_role:
    name : pcloud_restore_file
  vars:
    foldername: '/data/'
    filename: 'redis-last.rdb'

- name: Restore data to redis database
  shell: mv /data/redis-last.rdb /var/lib/redis/dump.rdb

- name: Remove old archive redis-server
  file:
    path: '/data/redis-last.rdb'
    state: 'absent'

- name: Restart applications
  systemd:
    name: '{{ service_name }}'
    state: started
  loop:
  - 'redis-server'
  - 'ethercalc.service'
  loop_control:
    loop_var: service_name

