---

- name: Stop applications
  systemd:
    name: '{{ service_name }}'
    state: stopped
  loop:
  - 'etherpad'
  loop_control:
    loop_var: service_name
  ignore_errors: True

- name: Restore database etherpad
  include_role:
    name : pg_restore_database
  vars:
    pg_filename: 'etherpad-last.dmp'
    pg_username: '{{ dbschema.etherpad.username }}'
    pg_database: '{{ dbschema.etherpad.database }}'

- name: Restart applications
  systemd:
    name: '{{ service_name }}'
    state: started
  loop:
  - 'etherpad'
  loop_control:
    loop_var: service_name

