---

- name: Stop applications
  ansible.builtin.systemd:
    name: '{{ service_name }}'
    state: stopped
  loop:
  - 'kuma.service'
  loop_control:
    loop_var: service_name
  ignore_errors: true
  register: ignore_errors_register

- name: Restore files from pcloud kuma
  ansible.builtin.include_role:
    name: pcloud_restore_file
  vars:
    pcloud_restore_file_foldername: '/data/'
    pcloud_restore_file_filename: 'kuma-last.db'

- name: Restore data to kuma database
  ansible.builtin.shell: mv /data/kuma-last.db /opt/uptime-kuma/data/kuma.db

- name: Restore data to kuma database owner
  ansible.builtin.shell: 'chown kuma:kuma /opt/uptime-kuma/data/kuma.db'

- name: Restart applications
  ansible.builtin.systemd:
    name: '{{ service_name }}'
    state: started
  loop:
  - 'kuma'
  loop_control:
    loop_var: service_name
