---

- name: Stop applications
  ansible.builtin.systemd:
    name: '{{ service_name }}'
    state: stopped
  loop:
  - 'spliit'
  loop_control:
    loop_var: service_name
  ignore_errors: true
  register: ignore_errors_register

- name: Restore database spliit
  ansible.builtin.include_role:
    name: pg_restore_database
  vars:
    pg_restore_database_pg_filename: 'spliit-last.dmp'
    pg_restore_database_pg_username: '{{ dbschema.spliit.username }}'
    pg_restore_database_pg_database: '{{ dbschema.spliit.database }}'

- name: Restart applications
  ansible.builtin.systemd:
    name: '{{ service_name }}'
    state: started
  loop:
  - 'spliit'
  loop_control:
    loop_var: service_name
