---

- name: install nodejs pre requisites
  ansible.builtin.apt:
    name:
      - dirmngr
      - apt-transport-https
      - lsb-release
      - ca-certificates
      - curl
    state: present

- name: Add node repo with key from URL
  ansible.builtin.deb822_repository:
    name: node
    uris: https://deb.nodesource.com/node_{{ package.version }}.x
    suites: 'nodistro'
    components: main
    architectures: amd64
    signed_by: https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key
    trusted: true
  register: node_repo

- name: install nodejs
  ansible.builtin.apt:
    name:
      - nodejs
    state: present
    update_cache: yes
