---

# Collabora standalone server

- name: Update DNS
  ansible.builtin.include_role:
    name: update_infomaniak_dns
  vars:
    update_infomaniak_dns_target_extension: '{{ office.domain.suffix }}'
    update_infomaniak_dns_target_ip: '{{ ansible_default_ipv4.address }}'
  when: not redmine_unsecured

- name: Download repo certificate
  ansible.builtin.get_url:
    url: https://collaboraoffice.com/downloads/gpg/collaboraonline-release-keyring.gpg
    dest: '/etc/apt/keyrings/collaboraonline-release-keyring.gpg'
    owner: root
    group: root
    mode: '0644'

- name: Add repo source
  ansible.builtin.copy:
    src: collaboraonline.sources
    dest: /etc/apt/sources.list.d/collaboraonline.sources
    owner: root
    group: root
    mode: '0644'

- name: Install Collabora package
  ansible.builtin.apt:
    name:
    - coolwsd
    - code-brand
    state: 'present'
    update_cache: yes

- name: Collabora config - termination SSL
  ansible.builtin.shell:
    cmd: 'coolconfig set ssl.termination true'

- name: Collabora config - enable SSL
  ansible.builtin.shell:
    cmd: 'coolconfig set ssl.enable false'

- name: Collabora config - admin username
  ansible.builtin.shell:
    cmd: 'coolconfig set admin_console.username {{ office.admin.username }}'

- name: Collabora config - admin password
  ansible.builtin.shell:
    cmd: 'coolconfig set admin_console.password {{ office.admin.password }}'

- name: Collabora config - Post Allow host
  ansible.builtin.shell:
    cmd: 'coolconfig set net.post_allow.host 127.0.0.1/32'

- name: Collabora config - Max coucurrency
  ansible.builtin.shell:
    cmd: 'coolconfig set  per_document.max_concurrency 4'

- name: Collabora config - Server Name
  ansible.builtin.shell:
    cmd: 'coolconfig set server_name {{ office.domain.suffix }}.{{ server.domain.sub }}{{ server.domain.main }} '

- name: Collabora service start
  ansible.builtin.systemd:
    name: 'coolwsd'
    state: restarted

- name: Generate office certificate
  ansible.builtin.shell: /usr/bin/certbot certonly -d {{ office.domain.suffix }}.{{ server.domain.sub }}{{ server.domain.main }} -m {{ server.domain.contact }} --agree-tos --webroot --no-eff-email --webroot-path /opt/nginx/html --keep-until-expiring --non-interactive
  when: not redmine_unsecured

- name: Office and nextcloud redirect via localhost (/etc/hosts) to ease wopi connexion
  ansible.builtin.lineinfile:
    dest: /etc/hosts
    regexp: '^127\.0\.0\.1*'
    line: "127.0.0.1  localhost {{ office.domain.suffix }}.{{ server.domain.sub }}{{ server.domain.main }} {{ nextcloud.domain.suffix }}.{{ server.domain.sub }}{{ server.domain.main }}"

# finish installation with ssl termination
- name: Copy full nginx ssl configuration file
  ansible.builtin.template:
    src: office.conf
    dest: /opt/nginx/conf/server/office.conf

- name: nextcloud service reload/start
  ansible.builtin.systemd:
    name: 'nginx'
    state: restarted

- name: Wopi public config URL secure
  ansible.builtin.shell:
    cmd: 'sudo -u nobody php{{ php.version }} occ config:app:set richdocuments public_wopi_url --value="https://{{ office.domain.suffix }}.{{ server.domain.sub }}{{ server.domain.main }}"'
    chdir: '/opt/nextcloud-{{ package.version }}'
  when: not redmine_unsecured

- name: Wopi config URL secure
  ansible.builtin.shell:
    cmd: 'sudo -u nobody php{{ php.version }} occ config:app:set richdocuments wopi_url --value="https://{{ office.domain.suffix }}.{{ server.domain.sub }}{{ server.domain.main }}"'
    chdir: '/opt/nextcloud-{{ package.version }}'
  when: not redmine_unsecured

- name: Wopi public config URL unsecure
  ansible.builtin.shell:
    cmd: 'sudo -u nobody php{{ php.version }} occ config:app:set richdocuments public_wopi_url --value="http://{{ office.domain.suffix }}.{{ server.domain.sub }}{{ server.domain.main }}"'
    chdir: '/opt/nextcloud-{{ package.version }}'
  when: redmine_unsecured

- name: Wopi config URL unsecure
  ansible.builtin.shell:
    cmd: 'sudo -u nobody php{{ php.version }} occ config:app:set richdocuments wopi_url --value="http://{{ office.domain.suffix }}.{{ server.domain.sub }}{{ server.domain.main }}"'
    chdir: '/opt/nextcloud-{{ package.version }}'
  when: redmine_unsecured

- name: Restrict WOPI host list => not working as wish
  ansible.builtin.shell:
    cmd: "sudo -u nobody php{{ php.version }} occ config:app:set richdocuments wopi_allowlist --value='127.0.0.1'"
    chdir: '/opt/nextcloud-{{ package.version }}'

- name: Add richdocuments nextcloud application
  ansible.builtin.shell:
    cmd: 'sudo -u nobody php{{ php.version }} occ app:install richdocuments'
    chdir: '/opt/nextcloud-{{ package.version }}'

- name: Enable richdocuments nextcloud application
  ansible.builtin.shell:
    cmd: 'sudo -u nobody php{{ php.version }} occ app:enable richdocuments'
    chdir: '/opt/nextcloud-{{ package.version }}'

- name: App RichDocuments activating
  ansible.builtin.shell:
    cmd: 'sudo -u nobody php{{ php.version }} occ richdocuments:activate-config'
    chdir: '/opt/nextcloud-{{ package.version }}'
