---

# Supervision of postgresql engine
- name: Does the postgreql user exists ?
  ansible.builtin.shell: psql -t -c "SELECT 'found' FROM pg_roles WHERE rolname='netdata'"
  register: user_exists
  become_user: 'postgres'

- name: Create user netdata for postgresql
  ansible.builtin.shell: psql -t -c "CREATE USER netdata"
  become_user: 'postgres'
  when: user_exists.stdout.find('found') != 1

- name: Grant netdata on postgresql
  ansible.builtin.shell: psql -t -c "GRANT pg_monitor TO netdata"
  become_user: 'postgres'

# Supervision of PHP FPM engine
- name: Active status page
  ansible.builtin.lineinfile:
    dest: /etc/php/{{ php.version }}/fpm/pool.d/www.conf
    regexp: ";pm.status_path = /status"
    line: "pm.status_path = /status"

- name: Active php-fpm monitoring
  ansible.builtin.template:
    src: phpfpm.conf
    dest: /etc/netdata/go.d/phpfpm.conf
    name: 'netdata'
    groups: 'nogroup'
    mode: '0600'

- name: Add netdata to nogroup to use fpm local socket
  ansible.builtin.user:
    name: 'netdata'
    groups: 'nogroup'
    append: yes

# Restart nginx
- name: Nginx service restart with full configuration
  ansible.builtin.systemd:
    name: '{{ item }}'
    state: restarted
  loop:
    - 'nginx'
    - 'php{{ php.version }}-fpm'
