---
# put a logo in public access to enable BIMI when sending mails with the domain


- name: Update DNS
  ansible.builtin.include_role:
    name: update_infomaniak_dns
  vars:
    update_infomaniak_dns_target_extension: '{{ static.domain.suffix }}'
    update_infomaniak_dns_target_ip: '{{ ansible_default_ipv4.address }}'
  when: not redmine_unsecured

- name: Directory for files under /data
  ansible.builtin.file:
    path: /data/static-files
    state: 'directory'
    owner: 'nobody'
    group: 'nogroup'
    mode: '0644'

- name: Logo SVG image
  ansible.builtin.copy:
    src: logo.svg
    dest: /data/static-files/logo.svg
    owner: 'nobody'
    group: 'nogroup'
    mode: '0644'

- name: Generate static certificate
  ansible.builtin.shell: /usr/bin/certbot certonly -d {{ static.domain.suffix }}.{{ server.domain.sub }}{{ server.domain.main }} -m {{ server.domain.contact }} --agree-tos --webroot --no-eff-email --webroot-path /opt/nginx/html --keep-until-expiring --non-interactive
  when: not redmine_unsecured

# finish installation with ssl termination
- name: Copy full nginx ssl configuration file
  ansible.builtin.template:
    src: static.conf
    dest: /opt/nginx/conf/server/static.conf
    owner: 'nobody'
    group: 'nogroup'
    mode: '0644'

- name: Nginx service restart with full configuration
  ansible.builtin.systemd:
    name: 'nginx'
    state: restarted
