---

- name: Restore files from pcloud
  ansible.builtin.include_role:
    name: pcloud_restore_file
  vars:
    pcloud_restore_file_foldername: '/tmp'
    pcloud_restore_file_filename: '{{ pg_restore_database_pg_filename }}'

- name: Delete existing database
  ansible.builtin.shell: psql -c "DROP DATABASE {{ pg_restore_database_pg_database }}"
  become_user: 'postgres'

- name: Create database
  ansible.builtin.shell: psql -c "CREATE DATABASE {{ pg_restore_database_pg_database }} OWNER {{ pg_restore_database_pg_username }}"
  become_user: 'postgres'

- name: Import database
  ansible.builtin.shell: psql {{ pg_restore_database_pg_database }} < /tmp/{{ pg_restore_databas_epg_filename }}
  become_user: 'postgres'

- name: Remove imported file
  ansible.builtin.file:
    path: /tmp/{{ pg_restore_database_pg_filename }}
    state: absent