---
- name: Update DNS
  include_role:
    name : update_infomaniak_dns
  vars:
    targetExtension : '{{drawio.domain.suffix}}'
    targetIP: '{{ansible_default_ipv4.address}}'
  when: not redmine_unsecured

- name: Install drawio service script
  copy:
    src: drawio.service
    dest: /etc/systemd/system/drawio.service
    owner: root
    group: root
    mode: '0644'

- name: drawio service reload/start
  systemd:
    name: 'drawio'
    daemon_reload: true
    state: restarted
    enabled: true

- name: Is certificate already installed ?
  stat:
    path: "/etc/letsencrypt/live/{{ drawio.domain.suffix }}.{{ server.domain.sub}}{{server.domain.main }}/fullchain.pem"
  register: cert_already_installed

- name: generate drawio certificate
  shell: /usr/bin/certbot certonly -d {{ drawio.domain.suffix }}.{{ server.domain.sub}}{{server.domain.main }} -m {{ server.domain.contact }} --agree-tos --webroot --no-eff-email --webroot-path /opt/nginx/html  --keep-until-expiring --non-interactive
  when: not redmine_unsecured and not cert_already_installed.stat.exists
      
# finish installation with ssl termination
- name: Copy full nginx ssl configuration file
  template:
    src: drawio.conf
    dest: /opt/nginx/conf/server/drawio.conf

- name: Nginx service restart with full configuration
  systemd:
    name: 'nginx'
    state: restarted



